/*********Start************  variable  ******************بسم الله********/
:root{
    --main-color:#10cab7;
    --main-color-p:#395360;
}
/******** End  ************  variable  ******************الحمد لله********/
/*********Start************  Global rules  ******************بسم الله********/
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

/******** End  ************  Global rules  ******************الحمد لله********/
.header .parent-header{ /*true*/
    padding-bottom: 20px;
    padding-top: 20px;
}
.header .parent-header{ /*true*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo { /*true*/
    width: 60px;
}

.header .links{ /*true*/
    position: relative;
    z-index: 999;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon{ /*true*/
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.header .links .icon span{ /*true*/
    width: 100%;
    height: 3px;
    background: black;
    margin-bottom: 3px;
}

.header .links .icon span:nth-child(2){
    width: 60%;
    transition: all 0.3s ease-in-out;
}

/*start lesson 4*/

.header .links .dropdown{
    position: absolute; /*true*/
    list-style: none; /*true*/
    background: #f6f6f6; /*true*/
    margin: 0; /*true*/
    padding: 0; /*true*/
    min-width: 200px; /*true*/
    right: 0; /*true*/
    top: calc(100% + 15px); /*true*/
    display: none; /*true*/
}
.header .links:hover .dropdown{
    display: block; /*true*/
}
.header .links .dropdown:before{
    content: ''; /*true*/
    position: absolute; /*true*/
    right: 5px; /*true*/
    top: -20px; /*true*/
    border: 10px solid transparent; /*true*/
    border-bottom-color: #f6f6f6; /*true*/
}

.header .links .dropdown a{
    display: block; /*true*/
    padding: 15px; /*true*/
    text-decoration: none; /*true*/
    color: #333; /*true*/
    transition: 0.3s; /*true*/
}
.header .links .dropdown a:hover{
    padding-left: 25px; /*true*/
}
.header .links .dropdown li:not(:last-child) a{
    border-bottom: 1px solid #ddd; /*true*/
}

/*End lesson 4*/
/* start lesson 5*/

.landing{
    background: url("../img/background.jpg"); /*true*/
    background-size: cover; /*true*/
    height: calc(100vh - 64px);
    position: relative;
}

.landing .text-intro{
    position: absolute; /*true*/
    top: 50%; /*true*/
    left: 50%; /*true*/
    transform: translate(-50% , -50%); /*true*/
    text-align: center; /*true*/
    width: 400px;
    max-width: 99%;
}
.landing .text-intro h1{
    margin: 0; /*true*/
    font-size: 50px; /*true*/
    font-weight: bold; /*true*/
    color: var(--main-color); /*true*/
}
.landing .text-intro p{
    color: var(--main-color-p); /*true*/
    font-size: 19px; /*true*/
    line-height: 1.8; /*true*/
}

/* end lesson 5*/
/*start lesson 6*/

.features{
    padding-top: 60px; /*true*/
    padding-bottom: 60px; /*true*/
    background: #f6f6f6; /*true*/
}

.features .container{
    display: grid; /*true*/
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr)); /*true*/
    gap: 20px; /*true*/
}
.features .feat{
    padding: 20px; /*true*/
    text-align: center; /*true*/
}
.features .feat i{
    color: var(--main-color); /*true*/
}
.features .feat h3{
    font-weight: 800; /*true*/
    margin: 30px 0; /*true*/
}
.features .feat p{
    line-height: 1.8;/*true*/
    font-size: 17px;/*true*/
    color: #777;/*true*/
}
/*end lesson 6*/

